<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="treeView.Columns.Setting.Width" value="382" />
    <add key="treeView.Columns.AC.Width" value="60" />
    <add key="treeView.Columns.DC.Width" value="60" />
    <add key="treeView.Columns.Unit.Width" value="204" />
    <add key="hiddenMenuItem" value="true" />
    <add key="applyMenuItem" value="true" />
  </appSettings>
</configuration>